{% extends "base_html/page_base.html"%}
{% block page %}


<!-- JUMBOTRON-->
    <div class="row">
        <div class="col-md-12">
            <div class = "container-fluid">
                <div class="jumbotron" style="background-color: #FFFFFF">
                     <img src="/static/img/IBEWFIST.jpg" class="img-responsive img-rounded" alt="..." style="height:240px; float: right;">
                    <h1>Affiliations</h1>
                    <h3><br><br>
                        Mulhern Electric is affiliated with the following organizations.<br>
                    </h3><br><br><br>
                </div>
            </div>
        </div>

    </div>


<div class="row"
     <!--list side-->
    <div class="col-xs-12 col-sm-6">
        <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item">IBEW Local 98</li>
            <li class="list-group-item">IBEW Local 269</li>
            <li class="list-group-item">IBEW Local 380</li>
            <li class="list-group-item">IBEW Local 351</li>
            <li class="list-group-item">IBEW Local 654</li>

        </ul>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item">
              <img src="/static/img/ibew.jpg" style="max-height: 400px;" class="img-rounded img-responsive">
            </li>
        </ul>
        </div>
    </div>



</div>







{% endblock %}
