{% extends "base_html/page_base.html"%}
{% block page %}


<!-- JUMBOTRON-->
<div class="row">
    <div class="col-md-12">
        <div class = "container-fluid">
            <div class="jumbotron" style="background-color: #FFFFFF">
                 <img src="/static/img/twoShamrocks.jpg" class="img-responsive img-rounded" alt="..." style="width:240px;height:240px; float: right;">
                <h1>Contact Us</h1>
                <h3><br><br><br><br><br>
                </h3>
            </div>
        </div>
    </div>

</div>

    <!--        pic space text     space     pic space text      -->
    <!--md      2   1     2        2         2   1     2         -->
    <!--xs      5   2     5        12        5   2     5         -->


<div class="container-fluid">
  <div class="jumbotron" style="background-color: #FFFFFF">

        <div class="row">

          <div class="col-xs-12">
            <div class="thumbnail">
              <img src="/static/img/placeHolder.png" alt="Abington Office" style="max-height: 300px; width: auto; float:left;" class="img-responsive img-rounded">
              <div class="caption">
                <h3>Abington Office</h3>
                 <address>
                    1828 Eckard Ave<br>Abington, PA 19001<br>Phone: 215-572-1224<br>Fax: 215-576-6957<br>E-mail: info@mulhernelectric.com
                 </address>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="thumbnail">
              <img src="/static/img/philly.jpg" alt="Philly Office" style="max-height: 300px; width: auto; float:left;" class="img-responsive img-rounded">
              <div class="caption">
                <h3>Philadelphia Office</h3>
                  <address>
                      1515 Market Street Suite 1200<br>Philadelphia, PA 19102<br>Phone: 215-854-6379<br>Fax: 215-576-6957<br>Email: jerry@mulhernelectric.com
                  </address>
              </div>
            </div>
          </div>



        </div>




    </div>
</div>



{% endblock %}