{% extends "base_html/page_base.html"%}
{% block page %}

<!--Need a container class for most code. "container" = fixed width. -fluid denotes full width of screen-->
<div class="row">
    <div class="col-md-12">
        <div class = "container-fluid">
            <div class="jumbotron" style="background-color: #FFFFFF">
                <img src="/static/img/twoShamrocks.jpg" class="img-responsive img-rounded" alt="TwoShamrocks" style="width:230px;height:230px; float: right;">
                <h1>Mulhern Electric <br>Company, Inc.</h1>
                <p><br>Contractors and Engineers est. 1918</p>
                <p> Two Offices serving the States of Pennsylvania and New Jersey</p>
            </div>
        </div>
    </div>
</div>







<div class="container-fluid">

    <div class="jumbotron" style="background-color: #ffffff">


        <div class="row">


            <div class="col-xs-6">
                <div class="container-fluid">
                    <div class="jumbotron" style="background-color: #FFFFFF">
                        <img src="/static/img/ogJP.JPG" class="img-responsive img-rounded" alt="JP Mulhern, 1918" style="width: auto; height: auto; float: left; position: relative">
                        <i style="font-size: 120%">James Patrick Mulhern established The Mulhern Electric Company in 1918.</i>
                    </div>
                </div>
            </div>




            <div class = "col-xs-6">
                <div class="container-fluid">
                    <div class="jumbotron" style="background-color: #ffffff">
                        <img src="/static/img/divider1.png" class="img-rounded img-responsive" style="width: auto; height: auto">
                        <br>
                        <h5>
                        <p>
                            &ensp;&ensp;&ensp;&ensp;The Mulhern Electric Company is a family-owned company located in Abington, Pennsylvania.
                            Since our founding in 1918, we have grown significantly as a reliable Electrical Contracting service
                            for Commercial projects in the Pennsylvania and New Jersey area.
                            <br><br>
                            &ensp;&ensp;&ensp;&ensp;As proud members of The IBEW Union, we are able to staff any sized project. Previous projects include:
                            <ul style="font-size: 130%; list-style-type: circle">
                                <li>The Philadelphia Zoo</li>
                                <li>The Philadelphia International Airport</li>
                                <li>The Philadelphia School District</li>
                                <li>Several SEPTA Transportation Buildings</li>
                            </ul>
                        </p>
                        <p>
                            And many, many more.
                            <br><br>
                            &ensp;&ensp;&ensp;&ensp;Please explore the tabs above to learn more about our experience and
                            qualifications.
                        </p>
                        </h5>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>







{% endblock %}
