{% extends "base_html/page_base.html"%}
{% block page %}

<!-- JUMBOTRON-->
    <div class="row">
        <div class="col-md-12">
            <div class = "container-fluid">
                <div class="jumbotron" style="background-color: #FFFFFF">
                     <img src="/static/img/Tacony%20Palmyra%20Bridge.jpg" class="img-responsive img-rounded" alt="..." style="height:240px; float: right;">
                    <h1>Projects</h1>
                    <h3><br><br>
                        Mulhern Electric has been involved in hundreds of renovations, constructions, and other projects in the last couple years. Listed below are some of our past Job Sites.<br>
                    </h3><br><br><br>
                </div>
            </div>
        </div>

    </div>


<!--List of projects-->
<div class="row"
     <!--list side-->
    <div class="col-xs-12 col-sm-6">
        <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item">Philadelphia Art Museum Life Safety Systems</li>
            <li class="list-group-item">Philadelphia Airport Substation </li>
            <li class="list-group-item">Fire Department Ventilation Systems</li>
            <li class="list-group-item">The Philadelphia Zoo's Big Cat Falls</li>
            <li class="list-group-item">SEPTA Wayne Junction </li>
            <li class="list-group-item">SEPTA escalators </li>
            <li class="list-group-item">SEPTA Berridge Shop </li>
            <li class="list-group-item">SEPTA 8th Street </li>
            <li class="list-group-item">SEPTA Chestnut Hill East</li>
            <li class="list-group-item">SEPTA Fox Chase</li>
            <li class="list-group-item">The McPherson Public Library</li>
            <li class="list-group-item">St. Catherine of Siena Church</li>
            <li class="list-group-item">Philadelphia House of Corrections </li>
            <li class="list-group-item">Philadelphia Youth Center </li>
            <li class="list-group-item">MLK High School </li>
            <li class="list-group-item">C.B. West High School </li>
            <li class="list-group-item">C.B. East High School </li>
            <li class="list-group-item">Saint Joe's Prep High School </li>
            <li class="list-group-item">Burlington City High School </li>
            <li class="list-group-item">Upper Dublin High School </li>
            <li class="list-group-item">Central High School </li>
            <li class="list-group-item">Owen J. Roberst High School </li>
            <li class="list-group-item">Millville Memorial High School </li>
            <li class="list-group-item">Samuel Fels High School </li>
            <li class="list-group-item">Lower Merion High School </li>
            <li class="list-group-item">Ann Klein Forensic Center </li>
            <li class="list-group-item">Baldi Middle School </li>
            <li class="list-group-item">Morris E. Leeds Middle School </li>
            <li class="list-group-item">Tacony Palmyra Bridge </li>
            <li class="list-group-item">Temple University </li>
            <li class="list-group-item">Penn State Abington Fire Alarm Systems</li>
            <li class="list-group-item">Delaware County Community College</li>
            <li class="list-group-item">Atlantic Cape Community College</li>
            <li class="list-group-item">Middle Bucks Institute of Technology</li>
            <li class="list-group-item">John Marshall Elementary School</li>
            <li class="list-group-item">J. M. Grasse Elementary School</li>
            <li class="list-group-item">Joseph H. Brown Elementary School</li>
            <li class="list-group-item">Anne Frank Elementary School</li>
            <li class="list-group-item">Simon Butler Elementary School</li>
            <li class="list-group-item">Krewstown Equestrian Center</li>
            <li class="list-group-item">Pennypack Park </li>
            <li class="list-group-item">And many, many more! </li>


        </ul>
        </div>
    </div>

    <!--picture side-->
    <div class="col-xs-12 col-sm-6">
        <div class="container-fluid">
        <ul class="list-group">
          <li class="list-group-item">
              <img src="/static/img/MLK%20HS.jpg" style="max-height: 200px;" class="img-rounded img-responsive">
              Martin Luther King High School
          </li>
          <li class="list-group-item">
              <img src="/static/img/Ann%20Klein.jpg" style="max-height: 200px;" class="img-rounded img-responsive">
              Ann Klein Forensic Center
          </li>
          <li class="list-group-item">
              <img src="/static/img/ChestHillEast.jpg" style="max-height: 200px;" class="img-rounded img-responsive">
              SEPTA Chestnut Hill East Station
          </li>
          <li class="list-group-item">
              <img src="/static/img/BigCat.jpg" style="max-height: 200px;" class="img-rounded img-responsive">
              Philadelphia Zoo Big Cat Falls
          </li>
          <li class="list-group-item">
              <img src="/static/img/Samuel%20Fels%20HS.jpg" style="max-height: 200px;" class="img-rounded img-responsive">
              Samuel Fels High School
          </li>
          <li class="list-group-item">
              <img src="/static/img/StCatherine.jpg" style="max-height: 200px;" class="img-rounded img-responsive">
              St. Catherine's Church
          </li>
          <li class="list-group-item">
              <img src="/static/img/Tacony%20Palmyra%20Bridge.jpg" style="max-height: 200px;" class="img-rounded img-responsive">
              The Tacony Palmyra Bridge
          </li>

        </ul>
        </div>
    </div>
</div>

{% endblock %}