{% extends "base_html/page_base.html"%}
{% block page %}

    <!-- JUMBOTRON-->
    <div class="row">
        <div class="col-md-12">
            <div class = "container-fluid">
                <div class="jumbotron" style="background-color: #FFFFFF">
                     <img src="/static/img/qualifications.jpg" class="img-responsive img-rounded" alt="Quality Installation" style="width:240px;height:240px; float: right;">
                    <h1>Qualifications</h1>
                    <h3><br><br>
                        Our employees are exceptionally trained and experienced. <br> Their practical knowledge is what makes us the successful company we are today.<br>
                    </h3><br><br><br>
                </div>
            </div>
        </div>

    </div>



<!--THUMBNAILS-->
<div class="container-fluid">
  <div class="jumbotron" style="background-color: #FFFFFF">

    <div class="row">
        <h3> &nbsp;&nbsp; Employee Highlights<br><br></h3>
    </div>

    <div class="row">

            <!--IMG ONE-->
      <div class="col-xs-6 col-md-3">

        <a href="#" class="thumbnail">
          <div class="img-holderJOE"><img id="Qimg" src="/static/img/JTM.jpg" alt="..." style="float: right" ></div>
        </a>
          <h4><b>John T. Mulhern, Jr. PE</b></h4>
          <p><a href="https://www.linkedin.com/in/john-t-mulhern-jr-p-e-4597a832" class="btn btn-primary" role="button" target="_blank">Click to View Qualifications</a></p><br>
      </div>


            <!--IMG TWO-->
      <div class="col-xs-6 col-md-3 ">
        <a href="#" class="thumbnail">
          <div class="img-holderJOE"><img id="Qimg" src="/static/img/JP.jpg" alt="..." ></div>
        </a>
          <h4><b>John P. Mulhern, PE</b></h4>
          <p><a href="https://ca.linkedin.com/in/johnmulhern" class="btn btn-primary" role="button" target="_blank">Click to View Qualifications</a></p><br><br>
      </div>
                    <!--IMG THREE-->
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <div class="img-holderJOE"><img id="Qimg" src="/static/img/Jack.jpg" alt="..." ></div>
        </a>
          <h4><b>John T. Mulhern, Sr.</b></h4>
      </div>
                    <!--IMG FOUR-->
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <div class="img-holderJOE"><img id="Qimg" src="/static/img/JPM.jpg" alt="..." ></div>
        </a>
          <h4><b>Jerome P. Mulhern</b></h4>
      </div>
    </div>

    <div class="row">

    </div>

  </div>
</div>

<div class="container-fluid">
    <div class="jumbotron" style="background-color: #FFFFFF">

        <div class="row">
            <h3> &nbsp;&nbsp; Company Certifications<br><br></h3>
        </div>

        <b>
        <div class="row"
             <!--left side-->
            <div class="col-xs-6">
                <div class="container-fluid">
                <ul class="list-group">
                    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="color: #5aec6a"></span> Licensed Contractor in the City of Philadelphia</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="color: #5aec6a"></span> Licensed Contractor in the State of New Jersey</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="color: #5aec6a"></span> Licensed Contractor in the State of Pennsylvalia</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="color: #5aec6a"></span> Qualified Generator & ATS Installer</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="color: #5aec6a"></span> Qualified PA & Sound Installer</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="color: #5aec6a"></span> Qualified CATV Installer</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="color: #5aec6a"></span> Qualified Telephone Installer</li>
                </ul>
                </div>
            </div>

            <!--right side-->
            <div class="col-xs-6">
                <div class="container-fluid">
                <ul class="list-group">
                    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="color: #5aec6a"></span> Qualified Power Installer</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="color: #5aec6a"></span> Qualified Lighting and Lighting Control Installer</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="color: #5aec6a"></span> Qualified Access Control Installer</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="color: #5aec6a"></span> Qualified Data Installer</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="color: #5aec6a"></span> Qualified Fire Alarm Installer</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="color: #5aec6a"></span> Qualified CCTV Installer</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="color: #5aec6a"></span> Qualified Clock Installer</li>
                </ul>
                </div>
            </div>

        </div>
        </b>
    </div>
</div>



    </div>
</div>

{% endblock %}
