{% extends "base_html/page_base.html"%}
{% block page %}


<!-- JUMBOTRON-->
    <div class="row">
        <div class="col-md-12">
            <div class = "container-fluid">
                <div class="jumbotron" style="background-color: #FFFFFF">
                     <img src="/static/img/safety.jpg" class="img-responsive img-rounded" alt="..." style="height:240px; float: right;">
                    <h1>Safety</h1>
                    <h3><br><br>
                    </h3><br><br><br><br>
                </div>
            </div>
        </div>

    </div>


<div class="row"
     <!--list side-->
    <div class="col-xs-12 col-sm-6">
        <div class="container-fluid">
            <div class="jumbotron" style="background-color: #ffffff">
            <p> &ensp;&ensp;&ensp;&ensp;All of our project managers are OSHA certified, as are several of our other employees.
                Safety is the most important consideration for any company, and Mulhern Electric is no exception.
            </p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item">
              <img src="/static/img/osha.jpg" style="max-height: 600px;" class="img-rounded img-responsive">
            </li>
        </ul>
        </div>
    </div>



</div>







{% endblock %}
